/*定义固定导航*/
.secondmenu a {
    font-size: 10px;
    color: #4A515B;
    text-align: center;
}

.navbar-static-top {
    background-color: #212121;
    margin-bottom: 5px;
}

.navbar-brand {
    background: url('') no-repeat 10px 8px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 50px;
    color: #fff;
}
/*通用*/
a:hover{
    text-decoration: none;
}
/*背景图片*/
.bg {
    width: 1440px;
    height: 750px;
    background-image: url(../images/cbook.png);
}

/* 搜索输入详情图书信息 */
.book_detail{
    float: left;
}
#api_content1{
    float: left;
}
#api_content{
    float: left;
}
#api_content2{
    padding-left: 25px;
}
textarea{
    width: 350px;
    height: 235px;
}
img{
    width: 250px;
    height: 350px;
}


